@import '../../../styles/variables';

.featured-categories {
	padding: $spacer-xl 0 $spacer-xxl 0;
	background-color: $brand-white;

	&__container {
		max-width: $container-max-width-xl;
		margin: 0 auto;
		padding: 0 $spacer-md;
		box-sizing: border-box;

		@include media-breakpoint-up(lg) {
			padding: 0 $spacer-lg;
		}
	}

	&__header {
		margin-bottom: $spacer-xl;

		h2 {
			font-size: $h2-font-size / 1.2;
			color: $neutral-darkest;
			font-weight: $font-weight-bold;
			margin-bottom: $spacer-xs;
		}

		&__subtitle {
			font-size: $font-size-sm;
			color: $neutral-dark;
			margin: 0 auto $spacer-md auto;
			line-height: 1.6;
		}

		@include media-breakpoint-up(md) {
			h2 {
				font-size: $h2-font-size * 1.2;
			}

			&__subtitle {
				font-size: $font-size-lg;
			}
		}
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: $spacer-sm;
		min-width: 0;

		@include media-breakpoint-up(md) {
			grid-template-columns: repeat(4, 1fr);
			gap: $spacer-md;
		}
	}
}